{% extends 'base.html' %}

{% block app_content %}
    <form action="{{ url_for('get_damage_information') }}" method="post">
        <h2>Weapon Information</h2>
        <div class="form-group">
            <label for="wepTypeInput">Weapon Type</label>
            <select class="form-control" id="wepTypeInput" name="wepType">
                <option value="mace">Mace</option>
                <option value="axe">Axe</option>
                <option value="sword">Sword</option>
            </select>
        </div>
        <div class="form-group">
            <label for="minDmgInput">Minimum Damage</label>
            <input type="text" class="form-control" id="minDmgInput" name="minDmg"/>
        </div>
        <div class="form-group">
            <label for="maxDmgInput">Maximum Damage</label>
            <input type="text" class="form-control" id="maxDmgInput" name="maxDmg"/>
        </div>
        <div class="form-group">
            <label for="wepStrInput">Weapon Strength</label>
            <input type="text" class="form-control" id="wepStrInput" name="wepStr"/>
        </div>
        <div class="form-group">
            <label for="eleTypeInput">Element Type</label>
            <select class="form-control" id="eleTypeInput" name="eleType">
                <option value="physical">Physical</option>
                <option value="fire">Fire</option>
                <option value="cold">Ice</option>
            </select>
        </div>
        <div class="form-group">
            <label for="eleDmgInput">Element Damage</label>
            <input type="text" class="form-control" id="eleDmgInput" name="eleDmg"/>
        </div>

        <h2>User Information</h2>
        <div class="form-group">
            <label for="levelInput">Level</label>
            <input type="text" class="form-control" id="levelInput" name="level"/>
        </div>

        <button type="submit" class="bnt btn-primary">Get Damage Information</button>
    </form>
</div>
{% endblock %}