{% extends 'base.html' %}

{% block app_content %}
<a href="{{url_for('home')}}">Back to form</a>

<table class="table">
    <tr>
        <th scope="col"> 
            Type
        </th>
        <th scope="col">
            Minimum Damage
        </th>
        <th scope="col">
            Maximum Damage
        </th>
        <th scope="col">
            DPS
        </th>
    </tr>
    {% for key, value in attacks.items() %}
    <tr>
        <td scope="row">{{key}}</td>
        <td>{{value["Minimum"]}}</td>
        <td>{{value["Maximum"]}}</td>
        <td>{{value["DPS"]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}