{% extends 'bootstrap/base.html' %}

<form action="{{ url_for('/get_damage')}}" method="post">
    <h2>Weapon Information</h2>
    <div class="form-group"></div>
        <label for="minDmgInput">Minimum Damage</label>
        <input type="text" class="form-control" id="minDmgInput" name="minDmg">
    </div>
    <div class="form-group"></div>
        <label for="maxDmgInput">Maximum Damage</label>
        <input type="text" class="form-control" id="maxDmgInput" name="maxDmg">
    </div>
    <div class="form-group"></div>
        <label for="wepStrInput">Weapon Strength</label>
        <input type="text" class="form-control" id="wepStrInput" name="wepStr">
    </div>
    <div class="form-group"></div>
        <label for="eleTypeInput">Element Type</label>
        <select class="form-control" id="eleTypeInput" name="eleType">
            <option value="physical">Physical</option>
            <option value="fire">Fire</option>
            <option value="cold">Ice</option>
        </select>
    </div>
    <div class="form-group"></div>
        <label for="eleDmgInput">Element Damage</label>
        <input type="text" class="form-control" id="eleDmgInput" name="eleDmg">
    </div>

    <h2>User Information</h2>
    <div class="form-group"></div>
        <label for="levelInput">Level</label>
        <input type="text" class="form-control" id="levelInput" name="level">
    </div>

    <button type="submit" class="bnt btn-primary">Get Damage Information</button>
</form>